<p>
<%Question.all.each do |x| %>
  <br>
  <a href="/questions/<%=x.id%>" class="question-link"><%=x.question_title%></a>
  <br>
    <div>Answers <%= x.answers.count %></div>
    <br>
  <%end%>
</p>

