body {
  text-align: center;
}

.question-link {
  font-size: 2em;
  color: #4C4CFF;
}

.edit-link {
  font-size: .85em;
}

.container {
  font-family: 'Karla', sans-serif;
  border: 2px dotted #2A4166;
  border-width:1px 0;
  color: #2A4166;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1452B2;
}

.error {
  font-size: 3em;
  font-weight: bold;
}

.answer {
  color: #1A69E5;
  font-size: 1.5em;
}

.button {
  color: white;
  background-color: #1A69E5;
  border-radius: 20px;
  text-align: center;
  border: none;
  margin: 3px;
  padding: 5px;
  font-size: .8em;
}

.button:hover {
  background-color: #69A4FF;
}

/*li a:hover {
  background-color: #BBFFFF;
}*/

.header {
  text-align: left;
  padding: 1em;
  background-color: white;
}

.logo {
  width: 20%;
}

.nav {
  border: 1px dotted #2A4166;
  border-width:1px 0;
  list-style: none;
  margin: 3px;
  padding: 0;
  text-align:center;
  background-color: #69A4FF;
}

.nav li {
  display:inline;
}

.nav a, .nav a:visited {
  display:inline-block;
  padding:10px;
  color: white;
}

.nav a:hover {
  background-color: #2A4166;
  border-radius: 25px;
}

.post_question {
  background-color: #1A69E5;
  width: 10%;
  color: white;
  border-radius: 30px;
  padding: 1em;
}

.post_question a, .post_question a:visited {
  color: white;
}

.post_question a:hover {
  background-color: #69A4FF;
}

.whale {
  width: 20%;
}
