.body {
  text-align: center;
  font-size: 1.5em;
}

.title {
  text-align: center;
  font-size: 2.5em;
}

.upboat, .downboat {
  font-size: 2em;
}
.question-link {
  font-size: 2em;
  color: #4C4CFF;
}

.edit-link {
  font-size: .85em;
}

.editbutton {
  font-weight: bold;
  font-size: .85em;
}

.container {
  font-family: 'Karla', sans-serif;
  /*border: 2px dotted #2A4166;*/
  border-width:1px 0;
  color: #2A4166;
  text-align: center;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: #1452B2;
}

.error {
  font-size: 3em;
  font-weight: bold;
}

.answer {
  color: #1A69E5;
  text-align: center;
  margin: auto;
}

.button {
  color: white;
  background-color: #1A69E5;
  border-radius: 20px;
  border: none;
  margin: 3px;
  padding: 5px;
  font-size: .8em;
  text-align: center;
}

.vote {
  text-align: center;
  margin: auto;
}

table {
  text-align: center;
  margin: auto;
  color: #1A69E5;
}

.button:hover {
  background-color: #69A4FF;
  padding: 5px;
  border-radius: 20px;
}

.header {
  text-align: left;
  padding: .25em;
  background-color: white;
}

.logo {
  width: 20%;
}

.nav {
  border: 1px dotted #2A4166;
  border-width:1px 0;
  list-style: none;
  margin: 3px;
  padding: 0;
  text-align:center;
  background-color: #69A4FF;
  font-family: 'Karla', sans-serif;
}

.nav li {
  display:inline;
}

.nav a, .nav a:visited {
  display:inline-block;
  padding:10px;
  font-weight: bold;
  color: #0B2F66;
}

.nav a:hover {
  color: white;
  border-radius: 25px;
}

.post_question {
  font-size: 1em;
  background-color: #1A69E5;
  width: 10%;
  color: white;
  border-radius: 30px;
  padding: 1em;
  display: inline-block;
  margin: 2em;
}

.post_question a, .post_question a:visited {
  color: white;
}

.post_question:hover {
  background-color: #69A4FF;
  border-radius: 30px;
  width: 10%;
  font-size: 1em;
  margin: 2em;
}

.whale {
  width: 20%;
  text-align: center;
  margin: auto;
}

.question_comment_box {
  border: 1px dotted #2A4166;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: .85em;
  text-align: left;
  line-height: 50%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.answer_comments {
  border: 1px dotted #2A4166;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: .85em;
  text-align: left;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-color: #D3F2FF;
}

#author {
  color: #1452B2;
  font-size: .8em;
}


.profile {
  font-size: 1.5em;
}

td {
  text-align: left;
}

.profilepage {
}

.comment_delete {
   background:none;
   border:none;
   padding:0;
   font-size: 1em;
   color: blue;
   margin-left: .3em;
   /*border is optional*/
   cursor: pointer;

}
