<form method="post" action="/users">
  <input type="text" name="user[name]" placeholder="Name">
  <input type="password" name="user[password]" placeholder="Password">
  <input type="submit" name="Register">
  <%= erb :_errors, locals: { errors: @errors } %>
</form>

