<h1><%=current_user.name %></h1>
<table class='profilepage'>
    <tr>
      <td><h3 class='profile'>your questions</h3></td>
      <td><h3 class='profile'>your answers</h3></td>
    </tr>
    <tr>
      <td>
      <% @questions.each do |question| %>
        <p><a href= "/questions/<%= question.id %>"><%= question.question_title %></a></p>
      <% end %>
      </td>
      <td>
      <% @answers.each do |answer| %>
        <p><%= answer.text %></p>
      <% end %>
      </td>
    </tr>
</table>
