<form method = "post" action="/questions/<%= @question.id %>/answers/<%= @answer.id %>">
  <input type="hidden" name= "_method" value="put">
  <input type="text" name="text" value="<%= @answer.text %>">
  <input class='button' type="submit" value="Edit Answer">
</form>

