<form method = "post" action="/questions/<%= @question.id %>/answers">
  <input type= "text" name= "text", placeholder="Answer">
  <input class='button' type="submit" value="Post Your Answer">
</form>
