<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='https://fonts.googleapis.com/css?family=Fredoka+One|Karla' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

    <header class="header"><img class='logo' src="/images/logo.jpg" alt="logo"></header>

    <ul class="nav">
      <% if logged_in? %>
      <li><a href='/'>Home</a></li>
        <li><a href='/users/show'><%= current_user.name %></a></li>
        <li><a href='/logout'>Log Out</a></li>
      <% else %>
        <li><a href="/session/new">Login</a></li>
        <li><a href="/users/new">Register</a></li>
      <% end %>
    </ul>
    <div class='container'>
    <%= erb :_errors, locals: { errors: @errors } %>
    <br>
    <div class="post_question"><a href= "/questions/new">Post a Question!</a></div>
  <br>
  <%= yield %>


    <img class='whale' src="/images/whale.png" alt="whale">
  </div>
  </body>
</html>
